.ipynb_checkpoints/
참고/
reference/
__pycache__/
temp/
data/
jobplanet_url.xlsx
kosdaq_info.xlsx
kosdaq_report_2021.xlsx
jobplanet_review.xlsx
dict.csv
word2vec_onlynews.ipynb
통계청/
test_data.xlsx
train_data.xlsx
train_data2.xlsx
predict_koelec3 (1).csv
all (1).tar
model (1).pt
Koelectra_base (1).pt
model_state_dict (1).pt
naverbot.csv
newsbot.csv
naver_news_all_221223_7809건.csv
patent_list_final.csv
jobplanet_train.xlsx
news_train.xlsx
dict.csv
modelling/
dict.csv
cmp_grd.pdf
config.py
.idea